*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.resultImages img{
    width: 100px;
}
.option img{
    width: 50px;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #c4c4c4;
}
.container{
    padding: 2rem 7rem;
    border-radius: 20px;
    background: white;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.resultImages{
    display: flex;
    column-gap: 7rem;
}
.resultText{
    text-align: center;
    font-size: 1.5rem;
}
.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}
.option{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s ease;
}
.option img{
    pointer-events: none;
}
.option p{
    pointer-events: none;
}
.option:hover{
    opacity: 1;
}